#sign-in.grid
  = standard_header

  .main
    .row
      -if flash[:alert]
        .errors_on_base.error= flash[:alert]

      = simple_form_for :sign_in, :url => '/auth/identity/callback' do |form|
        = form.input :email, :input_html => {:name => 'auth_key'}
        = form.input :password, :as => 'password', :input_html => {:name => 'password'}
        = form.submit 'Sign In', :class => 'btn'

  .sidebar
    = t('.not_registered')
    %p
      = link_to t('.sign_up_link'), sign_up_path, :class => 'btn'

