#academies.grid
  = standard_header

  .main
    .row
      - if flash[:notice]
        .notice= flash[:notice]

    .row
      = simple_form_for AcademySearch.new, :method => :get do |form|
        = form.input :location, :hint => 'Address, City/State or ZIP code'
        = form.button :submit

    - if nearest_academies.any?
      .row
        .nearest
          %h4= t('.nearest_academies').upcase
          %a{:name => 'nearest'}
          %ul.academies
            - nearest_academies.each do |academy|
              = academy.render_as_list_item(self)

    .row
      - cache(academies_by_state) do
        - academies_by_state.each do |group|
          = group.render(self)

      - cache(academies_by_country) do
        - academies_by_country.each do |group|
          = group.render(self)

  .sidebar
    = link_to t('.add_academy_link'), new_academy_path, :class => 'btn'
    %p= t('academies.jump_to_state')
    %ul
      %li= link_to 'Nearest', "#nearest" if nearest_academies.any?
      - academies_by_state.each do |group|
        = group.render_as_link(self)

      %li <br/>
      - academies_by_country.each do |group|
        = group.render_as_link(self)

