#academies.grid
  = standard_header

  .main
    .row
      - if flash[:notice]
        .notice= flash[:notice]

    .row
      = simple_form_for AcademySearch.new, :method => :get do |form|
        = form.input :location, :hint => 'Address, City/State or ZIP code'
        = form.button :submit

    - if nearest_academies.any?
      .row
        .nearest
          %h4= t('.nearest_academies').upcase
          %a{:name => 'nearest'}
          %ul.academies
            = render nearest_academies

    .row
      = render academies_by_state

  .sidebar
    = link_to t('.add_academy_link'), new_academy_path, :class => 'btn'
    %p= t('.jump_to_state')
    %ul
      %li= link_to 'Nearest', "#nearest"
      - academies_by_state.each do |group|
        %li= link_to group.full_us_state_name, "##{group.us_state}"
