#academies.grid
  .row.header
    %h2
      Academies
      = link_to t('.add_academy_link'), new_academy_path

  .main
    .row
      - if flash[:notice]
        .notice= flash[:notice]
      = render academies_by_state

  .sidebar
    Jump to state:
    %ul
      - academies_by_state.map(&:first).each do |state|
        %li= link_to full_us_state_name(state), "##{state}"
