#academies.grid
  = standard_header

  .main
    .row
      - academy.errors[:base].each do |msg|
        .errors_on_base= msg

      = simple_form_for academy do |form|
        = form.input :name
        = form.input :instructor
        = form.fields_for :location_attributes, AcademyLocation.new do |location|
          = location.input :street
          = location.input :unit
          = location.input :city
          = location.input :us_state
          = location.input :postal_code
          = location.input :country, :as => :string
        = form.input :email
        = form.input :phone_number
        = form.input :website
        = form.button :submit

  .sidebar
    = link_to t('.back_to_guide'), academies_path
