#academies.grid
  = standard_header

  .main
    .row
      - if flash[:notice]
        .notice= flash[:notice]

    .row
      = simple_form_for AcademySearch.new, :method => :get do |form|
        = form.input :location
        = form.button :submit

    .row
      .search-results
        %h4= t('.search_results')
        %a{:name => 'search_results'}
        - if search_results.any?
          %ul.academies
            = render search_results
        - else
          No results


  .sidebar
    = link_to t('.add_academy_link'), new_academy_path, :class => 'btn'
    %p= t('academies.jump_to_state')
    %ul
      - academies_by_state.each do |group|
        %li= link_to group.full_us_state_name, "#{academies_path}##{group.us_state}"
