.grid.new_subscription
  .row
    - ab_test("image", "a", "b") do |version|
      - case version
      - when 'a'
        = image_tag "bjjmatch.jpg", :size => "940x167"
        - content_for :photo_credits do
          main photo by:
          = link_to "Emerson Ricardo Zamprogno", 'http://www.fotopedia.com/items/ezamprogno-yzhx6zlsz6I/slideshow'
      - when 'b'
        = image_tag "bjjmats.jpg", :size => "940x167"
        - content_for :photo_credits do
          main photo by:
          = link_to "Cid Costa Neto", 'http://commons.wikimedia.org/wiki/File:Campeonato_Brasileiro_Interclubes_de_Jiu-Jitsu_2009.jpg'

  .main
    - unless (user_signed_in? && current_user.subscription)
      .row
        = render 'signup_form'

    .row
      = render 'video_previews'

    .row
      = render 'new_stuff'
      = render 'upcoming'
    .row
      = render 'contribute'


  .sidebar
    - if user_signed_in?
      %p= current_user.greeting
    = t('.explanation_html')




