.grid.new_subscription
  .row
    = image_tag "http://placekitten.com/940/167"

  .main
    .row
      = render :partial => 'signup_form'

    .row
      = render :partial => 'video_previews'

    .row
      = render :partial => 'upcoming'
      = render :partial => 'about'

  .sidebar
    - ab_test("message", "a", "b") do |version|
      - msg_key = (version == 'a' ? 'landing_page.explanation_html' : 'landing_page.new_explanation_html')
      = t(msg_key)







