#post.grid
  = standard_header(blog.title)

  .main
    .row
      %article[post]
        %header
          %h3= link_to post.title, post.url

        %p= post.description
        %footer
          %p
            %span.credit posted by #{post.contributor}

      = render CommentDecorator.decorate(post.comments)

    .row
      %hr
      %h4 Something to say?
      = simple_form_for [post, comment] do |form|
        = form.input :body, :label => false
        = form.button :submit

  .sidebar
    TBD

