- content_for :products_js do
  = products_page_javascript

#products_index.grid
  = standard_header

  .main
    .row
      - if market.present?
        %h3 Showing Products in #{market}
      #product_slides_wrap
        #product_slides_inner
          #carousel
            - products.each do |product|
              %div[product]{:class => product.category_class}
                = image_tag product.photo.thumb
                %em= link_to product.name, product_path(product)
                %br/
                %strong= product.price
                %br/
                = link_to "buy now", new_product_order_path(product)

          #pager
            %strong Choose a category: &nbsp;
            - categories_in_use.each do |category|
              = link_to category.name, category.to_css_class

          %a#prev{:href => '#'}
          %a#next{:href => '#'}
