!!!
%html
  %head
    = raw analytical.head_prepend_javascript

    %title Living BJJ

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = raw analytical.head_append_javascript

  %body

    = raw analytical.body_prepend_javascript

    %header
      %h1= t('site_name')

    = yield

    %footer
      #copyright
        &copy;
        = Time.now.year
        = link_to "Matt Van Horn", 'http://www.mattvanhorn.com'

    = raw analytical.body_append_javascript
