!!!
%html
  %head
    = raw analytical.head_prepend_javascript

    %title Living BJJ

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = raw analytical.head_append_javascript

  %body

    = raw analytical.body_prepend_javascript
    #page
      #content
        %header
          %h1= link_to t('site_name'), root_path
          %ul.navigation
            %li= link_to "Home", root_path
            %li= link_to "Videos", videos_path
            %li= link_to "Academies", academies_path
        = yield

        %footer
          #copyright
            &copy;
            = Time.now.year
            = link_to "Matt Van Horn", 'http://www.mattvanhorn.com'

          #credits
            %small
              = yield :photo_credits

          #colophon
            = link_to image_tag("http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt => "Real Time Web Analytics"), "http://mixpanel.com/f/partner"


    :javascript
      $(document).ready(function(){
        $("a[rel^='popupVideo']").prettyPhoto( {
          show_title: false,
          theme: 'dark_square',
          social_tools: false
        });
      });

      $('li.video a').click(function(){
        Analytical.event('Clicked Video', {page: 'home', id: $(this).parent().attr('id'), url: this.href});
      });
    = raw analytical.body_append_javascript
