!!!
%html
  %head
    = raw analytical.head_prepend_javascript

    %title Living BJJ

    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    %meta{ :name => "stripe-key", :content => STRIPE_PUBLIC_KEY }
    = raw analytical.head_append_javascript
  %body

    = raw analytical.body_prepend_javascript
    - if user_signed_in?
      - analytical.identify( current_user.id, :email => current_user.identity_email, :name => current_user.identity_email)
    #page
      #content
        %header
          %h1= link_to t('site_name'), root_path
          %h3.tagline Brazilian Jiu Jitsu: It's not just a sport, it's a way of life.
          %ul.navigation
            %li= link_to "Home", root_path
            %li= link_to "Videos", videos_path
            %li= link_to "Academies", academies_path
            - if Blog.any?
              %li= link_to "Training", blog_path(Blog.first)
            - if user_signed_in?
              %li= link_to "Sign Out", sign_out_path
              %li= link_to "My Profile", account_path
            -else
              %li= link_to "Sign In", sign_in_path
              %li= link_to "Sign Up", sign_up_path

            - if $rollout.active?(:shopping, identifiable_user)
              %li= link_to 'Shopping', products_path

        = yield

        %footer
          #copyright
            &copy;
            = Time.now.year
            = link_to "Matt Van Horn", 'http://www.mattvanhorn.com'

          #credits
            %small
              = yield :photo_credits

          #colophon
            = link_to image_tag("http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt => "Real Time Web Analytics"), "http://mixpanel.com/f/partner"

    = yield :stripe_js
    = javascript_include_tag "application", :defer => "defer"
    = yield :products_js
    = yield :order_form_js
    = javascript_include_tag("videos", :defer => 'defer')
    = javascript_include_tag("analytic_events", :defer => 'defer')
    = javascript_include_tag("time_ago", :defer => 'defer')
    = raw analytical.body_append_javascript
