#videos.grid
  .row
    %h2 Account

  .main
    .row
      = simple_form_for current_user, :url => account_path do |form|
        %fieldset
          %legend Profile Details
          = form.input :username, :hint => 'This is what will show up under the things you post'
          = form.input :location
          = form.input :teacher
          = form.input :rank

        %fieldset
          %legend Account Identity
          = form.fields_for :identity_attributes, current_user.identity do |fields|
            = fields.input :email, :hint => 'This will never be shown to other users'
            = fields.input :password, :as => 'password', :hint => 'Only if you want to change your password'
            = fields.input :password_confirmation, :label => "Confirm Password", :as => 'password', :hint => 'Only if you want to change your password'

        %button{:type => 'submit'} Update Account

  .sidebar
    TBD