#new_account.grid
  .row
    %h2 Register

  .main
    .row
      = simple_form_for identity, :url => '/auth/identity/register' do |form|
        = form.input :email, :input_html => {:name => 'email'}
        = form.input :password,              :label => "Password", :as => 'password', :input_html => {:name => 'password'}
        = form.input :password_confirmation, :label => "Confirm password",  :as => 'password', :input_html => {:name => 'password_confirmation'}
        = form.input :opt_in, :input_html => {:name => 'opt_in'}, :label => false, :as => :boolean do
          = check_box_tag :opt_in
          = label_tag :opt_in, "subscribe for announcements"
        = form.submit 'Sign Up', :class => 'btn'

  .sidebar
    NOTE:
    %p
      At the moment, having an account means you can post articles to the
      Training Tips section.
      I'm working on allowing you to post videos, and rate stuff that other
      people post.
    %p
      What else would you like to do? Let me know: mattvanhorn@gmail.com
